<!doctype html>
<html>
<head>
    <title>GET/POST</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <meta charset="utf-8">
</head>
<body>
    <div id="wrapper">
        <p id="home"><a href="/">/home</a> ⇠ return home</p>
    {{{body}}}
    </div>
</body>
</html>

<script src="/js/align.js"></script>
<script src="/js/time.js"></script>
