
<!-- 1. Create a 6x6 table (inclusive of the header row) and fill in the table with your own contents. -->
<!-- Extra credit: Make the non-header rows alternate colors. To accomplish this you will need to use a pseudo-class called:nth-of-type() -->

<hr />

<table>
    <caption>Thoughts on Various Star Wars Things</caption>
    <tbody>
    <thead>
        <!-- row 1 -->
        <tr>
            <th></th>
            <th>Ho hum...</th>
            <th>Kinda' cool</th>
            <th>Radical</th>
            <th>Wowzee</th>
            <th>Off the rails!</th>
        </tr>
    </thead>


    <tbody>
        <!-- row 2 -->
        <tr>
            <td class="oblique">Cool Ships</td>
            <td><a href="http://iconbug.com/detail/icon/5610/star-wars-naboo-fighter/"><img class="spin" alt="naboo spinning" title="I'll try spinning. That's a good trick!" src="http://iconbug.com/data/91/128/1f1d3ab2684927e418c5ec476fe693dd.png"</a></td>
            <td><a href="https://anewculture.weebly.com/technology.html"><img class="spin" alt="anakin's podracer" title="Now /this/ is podracing!" src="https://anewculture.weebly.com/uploads/1/4/4/7/14478876/416441.png?1"</a></td>
            <td><a href="http://www.iconarchive.com/show/star-wars-vehicles-icons-by-jonathan-rey/X-Wing-02-icon.html"><img class="spin" alt="x-wing" title="Pew pew!" src="http://icons.iconarchive.com/icons/jonathan-rey/star-wars-vehicles/256/X-Wing-02-icon.png"</a></td>
            <td><a href="http://www.iconarchive.com/show/star-wars-vehicles-icons-by-jonathan-rey/Tie-Fighter-01-icon.html"><img class="spin" alt="tie fighter" title="Pew pew pew!" src="http://icons.iconarchive.com/icons/jonathan-rey/star-wars-vehicles/256/Tie-Fighter-01-icon.png"</a></td>
            <td><a href="http://www.iconarchive.com/show/star-wars-vehicles-icons-by-jonathan-rey/Millenium-Falcon-01-icon.html"><img class="spin" alt="millenium falcon" title="Great kid! Don't get cocky!" src="http://icons.iconarchive.com/icons/jonathan-rey/star-wars-vehicles/256/Millenium-Falcon-01-icon.png"</a></td>
        </tr>

        <!-- row 3 -->
        <tr>
            <td class="oblique">Exploded</td>
            <td><a href="http://swfanon.wikia.com/wiki/File:Alderaan.png"><img class="spin" alt="alderran" title="rip alderaan :(" src="https://vignette.wikia.nocookie.net/swfanon/images/5/5f/Alderaan.png/revision/latest?cb=20151110223931"</a></td>
            <td><a href="http://iconbug.com/detail/icon/5599/star-wars-death-star/"><img class="spin" alt="first death star" title="This thing will never explode!" src="http://iconbug.com/data/b5/128/67561e3e378f8513c81b977aa9d662b6.png"</a></td>
            <td><a href="http://www.iconarchive.com/show/star-wars-vehicles-icons-by-jonathan-rey/Death-Star-2nd-icon.html"><img class="spin" alt="second death star" title="This time it won't blow up" src="http://icons.iconarchive.com/icons/jonathan-rey/star-wars-vehicles/256/Death-Star-2nd-icon.png"</a></td>
            <td><a href="http://starwars-ar.wikia.com/wiki/Hosnian_Prime"><img class="spin" alt="hosnian prime" title="rip hosnian prime :(" src="https://vignette.wikia.nocookie.net/starwars-ar/images/b/b4/Hosnian_Prime.png/revision/latest/scale-to-width-down/180?cb=20151231184759"</a></td>
            <td><a href="https://community.fantasyflightgames.com/topic/225191-my-gift-to-the-x-wing-community-starkiller-base-play-mat/?page=2"><img class="spin" alt="starkiller base" title="/This/ time we gurantee it will never, never explode!" src="https://lh3.googleusercontent.com/-UxgE27AXBWk/V428WSfJB1I/AAAAAAAAKDQ/UM5DCtxuXQ8e-WNnFT-69JPLLohh2qthwCCo/s720/IMP%2BSTAR%2BKILLER%2BBASE%2BTS.PNG"</a></td>
        </tr>

        <!-- row 4 -->
        <tr>
            <td class="oblique">the good</td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="luke skywalker" title="But I was going into Tosche Station to pick up some power converters!" src="https://www.shareicon.net/data/128x128/2016/11/21/854792_skywalker_472x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="princess leia" title="Someone has to save our skins. Into the garbage chute, fly boy." src="https://www.shareicon.net/data/128x128/2016/11/21/854793_leia_491x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="r2d2" title="R2D2! You know better than to trust a strange computer!" src="https://www.shareicon.net/data/128x128/2016/11/21/854794_r2d2_512x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="c3po" title="We seem to be made to suffer. It's our lot in life." src="https://www.shareicon.net/data/128x128/2016/11/21/854773_c3p0_432x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="chewie" title="RAWRRGGHHH!" src="https://www.shareicon.net/data/128x128/2016/11/21/854774_chewbacca_404x512.png"</a></td>
        </tr>

        <!-- row 5 -->
        <tr>
            <td class="oblique">the bad</td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="darth vader" title="I find your lack of faith disturbing." src="https://www.shareicon.net/data/128x128/2016/11/21/854776_darth_512x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="emperor" title="I /am/ the senate!" src="https://www.shareicon.net/data/128x128/2016/11/21/854778_emperor_512x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="stromtrooper" title=" These aren't the droids we're looking for." src="https://www.shareicon.net/data/128x128/2016/11/21/854795_stormtrooper_475x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="darth maul" title="At last, we will reveal ourselves to the Jedi." src="https://www.shareicon.net/data/128x128/2016/11/21/854777_darth_410x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="boba fett" title="No disintegrations!" src="https://www.shareicon.net/data/128x128/2016/11/21/854772_boba_456x512.png"</a></td>
        </tr>

        <!-- row 6 -->
        <tr>
            <td class="oblique">& the jawa</td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="jawa" title="Outini!" src="https://www.shareicon.net/data/128x128/2016/11/21/854785_jawa_512x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="jawa" title="Outini!" src="https://www.shareicon.net/data/128x128/2016/11/21/854785_jawa_512x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="jawa" title="Outini!" src="https://www.shareicon.net/data/128x128/2016/11/21/854785_jawa_512x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="jawa" title="Outini!" src="https://www.shareicon.net/data/128x128/2016/11/21/854785_jawa_512x512.png"</a></td>
            <td><a href="https://www.shareicon.net/author/sensible-world"><img class="spin" alt="jawa" title="Outini!" src="https://www.shareicon.net/data/128x128/2016/11/21/854785_jawa_512x512.png"</a></td>
        </tr>

        <!-- row 6 -->
        <tr>
            <td class="footer" colspan="2"><pre>watch star wars in terminal!</pre></td>
            <td class="footer" colspan="6"><pre><span class="no-copy">$ </span>telnet towel.blinkenlights.nl</pre><pre>to exit telnet: ctrl + ] to enter command mode,</pre><pre>type quit to exit</pre></td>
        </tr>

    </tbody>
</table>


<br />

<!-- 2. Create a list (ul, ol or dl) with at least 3 entries. -->
<dl>
    <dt>Sand</dt>
    <dd>It's coarse and rough and irritating...and it gets everywhere.
    <dt>Aggressive negotiations</dt>
    <dd>Ah, well, it's negotiations with a lightsaber.</dd>
    <dt>Blasters</dt>
    <dd>So uncivilized.</dd>
</dl>


<!-- 3. Create a div that is aligned to the left side of the page and takes up 3/4 of the page width, has a space of 20px between it and the previous element and has a class of 'outer-content'. -->

<div class="outer-content">
   <p class="outer">If you're not with me, then you're my enemy.</p>
   <div class="inner-content">
       <p class="inner">Only a Sith deals in absolutes.</p>
   </div>
</div>

<br />
<br />
<hr />
<br />
<h2>post</h2>
<br />

<!-- 4. Create two forms. One should submit via a post, the other via a get, they should have identical content. -->

<!-- POST -->

<form action="/code/webdev/getpost/" method="post">
    <fieldset>
        <legend>A suprise, to be sure...</legend>
        <label>code name
            <input type="text_input" name="name" size="20" maxlength="50" placeholder="Ewan McGregor">
        </label>
        <br />
        <br />
        <label>days without having the high ground
            <input type="numerical_input" name="number" size="20" maxlength="50" placeholder="0">
        </label>
        <br />
        <br />
        <label>super secret jedi passcode
            <input type="password_input" name="password" size="20" maxlength="50" placeholder="yipee!123">
        <label>
    </fieldset>

        <br />
        <br />

    <fieldset>
        <legend>...but a welcome one.</legend>
        <p>
            <label for="point-of-view">From my point of view, the jedi are </label>
            <select name="opinion" id="jedi">
                <option value="evil">evil!</option>
                <option value="peace">the keepers of peace and order in the galaxy</option>
                <option value="wookiees">What about the Droid attack on the Wookiees?</option>
            </select>
        </p>

        This will make a fine addition to my collection...
        <br />
            <label><input type="radio" name="candy" value="snickers" />Snickers</label>
            <label><input type="radio" name="candy" value="skittles" />Skittles</label>
            <label><input type="radio" name="candy" value="mentos" />Mentos</label>
        </p>


        <label><input type="checkbox" name="one" />this is geeting out of hand...</label>
        </br>
        <label><input type="checkbox" name="two" />now there are two of them!</label>
        </br>
        <p>
            <label for="comments">Not a story the Jedi would tell you...</label>
            <br />
            <textarea rows="9" cols="100" id="comments">
            Did you ever hear the tragedy of Darth Plagueis The Wise? I thought not. It’s not a story the Jedi would tell you. It’s a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life… He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful… the only thing he was afraid of was losing his  power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. Ironic. He could save others from death, but not himself.
            </textarea>
        </p>
        <input type="submit" value="do it!"/>
        <input type="submit" value="It's treason then."/>
    </fieldset>
</form>



<br />
<br />
<hr />
<br />
<h2>get</h2>
<br />


<!-- GET -->

<form action="/code/webdev/getpost/" method="get">
    <fieldset>
        <legend>A suprise, to be sure...</legend>
        <label>code name
            <input type="text_input" name="name" size="20" maxlength="50" placeholder="Ewan McGregor">
        </label>
        <br />
        <br />
        <label>days without having the high ground
            <input type="numerical_input" name="number" size="20" maxlength="50" placeholder="0">
        </label>
        <br />
        <br />
        <label>super secret jedi passcode
            <input type="password_input" name="password" size="20" maxlength="50" placeholder="yipee!123">
        <label>
    </fieldset>

        <br />
        <br />

    <fieldset>
        <legend>...but a welcome one.</legend>
        <p>
            <label for="point-of-view">From my point of view, the jedi are </label>
            <select name="opinion" id="jedi">
                <option value="evil">evil!</option>
                <option value="peace">the keepers of peace and order in the galaxy</option>
                <option value="wookiees">What about the Droid attack on the Wookiees?</option>
            </select>
        </p>

        This will make a fine addition to my collection...
        <br />
            <label><input type="radio" name="candy" value="snickers" />Snickers</label>
            <label><input type="radio" name="candy" value="skittles" />Skittles</label>
            <label><input type="radio" name="candy" value="mentos" />Mentos</label>
        </p>


        <label><input type="checkbox" name="one" />this is geeting out of hand...</label>
        </br>
        <label><input type="checkbox" name="two" />now there are two of them!</label>
        </br>
        <p>
            <label for="comments">Not a story the Jedi would tell you...</label>
            <br />
            <textarea rows="9" cols="100" id="comments" name="comments" form="userform">
            Did you ever hear the tragedy of Darth Plagueis The Wise? I thought not. It’s not a story the Jedi would tell you. It’s a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to create life… He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so powerful… the only thing he was afraid of was losing his  power, which eventually, of course, he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep. Ironic. He could save others from death, but not himself.
            </textarea>
        </p>
        <input type="submit" value="do it!"/>
        <input type="submit" value="It's treason then."/>
    </fieldset>
</form>
